  /*basic style*/
  * {
    box-sizing: border-box;
  }
  body {
    background-color: white;
  }
  h1 {
    margin: 50px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 175%;
    
  }
  section {
    position: relative;
    padding: 15px;
    width: 100%;
  }
  p {
    position: relative;
    clear: right;
  }
  div {
    position: relative;
    background-color:  #adad85;
    border: 2px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
  .head1 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 2px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color:  #ff3333;
    
  }
  .head2 {
    float: right;
    color: white;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 2px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: #b30000;
    
  }
  .head3 {
    color: black;
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 2px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: #ff9900;
    
  }
  .text {
    padding: 5px;
    border: none;
    background-color:  #adad85;
    font-family: Helvetica;
    color: black;
    margin: auto;
    height: auto;
    overflow: auto;
  }
  
  .row {
    width: 90%;
  }
  
  /*desktop version*/
  @media (min-width: 992px){
    .column1 {
      float: left;
      width: 33.33%;
    }
  }
  /*tablet version*/
  @media (min-width: 768px) and (max-width: 991px){
    .column2 {
      float: left;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    .column3 {
      float: left;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  /*mobile version*/
  @media (max-width: 767px){
    .column3{
      float: left;
      width: 100%;
    }
  }
