*{
  box-sizing: border-box;
}

h1 {
  color: Black;
  font-family:"Times New Roman", Times, serif;
  font-size: 200%;
}




#Beef, #Chicken , #Suchi {
  border: 2px solid Black;
  background-color:#A9A9A9;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  height: auto;
  width: 100%;
}

#Beef h2 {
  background-color: #A9A9A9;
}

#Chicken h2 {
  background-color: #A9A9A9;
}

#Suchi h2 {
  background-color: #A9A9A9;
}

h2 {
  margin-top:0;
  text-align: center;
  border: none;
  width: 50%;
  position: absolute;
  top: 0;
  right:0;
  }

p {	
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;;
}

.navbar-nav a {
  text-align: center;
  font-weight: bold;
}
